extends layout

block content
  .main.container.text-xs-center
    h1.display-5 Read &amp; Share about Awesome Pets!
    h2.display-3 Me Pets
    p.lead Cats * Dogs * Birds 
    a.btn.btn-primary-outline.btn-lg(href='/register') Get Started for FREE
    .bubbles
